{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block content %}
<h1 class="govuk-heading-l">Your Tax-Free Childcare accounts</h1>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Child's name</th>
      <th scope="col" class="govuk-table__header govuk-table__header">Balance</th>
      <th scope="col" class="govuk-table__header govuk-table__header"></th>
      <th scope="col" class="govuk-table__header govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cellgovuk-!-width-one-third">Emma Thorne</th>
      <td id="childOneBalance" class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">£65.40</td>
      <td class="govuk-table__cell govuk-table__cell"><a href="#" class="govuk-back">Manage account</a></td>
      <td class="govuk-table__cell govuk-table__cell"><a href="#" class="govuk-back">View transactions</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cellgovuk-!-width-one-third">Clare Thorne</th>
        <td id="childTwoBalance" class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">£63.10</td>
        <td class="govuk-table__cell govuk-table__cell"><a href="#" class="govuk-back">Manage account</a></td>
        <td class="govuk-table__cell govuk-table__cell"><a href="#" class="govuk-back">View transactions</a></td>
    </tr>
  </tbody>
</table>
<div class="govuk-grid-row govuk-body-m">
  <div class="govuk-grid-column-full govuk-!-margin-top-5">
    <a href="/start-calculator" class="govuk-link ">Calculate transfer amount</a>
  </div>
  <div class="govuk-grid-column-full govuk-!-margin-top-3">
    <a href="" class="govuk-link">Homepage</a>
  </div>

</div>
<a href="/calculator" class="govuk-link ">Calculate transfer amount (v1)</a>

{% endblock %}
