{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Accounts",
        href: "/"
      },
      {
        text: "Transfer calculator"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Transfer calculator
      </h1>

      <p>This service will help you calculate the transfer amount for each child based on the invoices from their childcare providers and your personal contribution balance.</p>

      <h2 class="govuk-heading-m">
        What you will need
      </h2>
      <p>Before you start, make sure you have the following information:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Invoice amounts from provider 1 for each child</li>
        <li>Invoice amounts from provider 2 for each child</li>
      </ul>

      <h2 class="govuk-heading-m">
        Information we already have
      </h2>
      <p>We already know the following information:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Number of children with accounts</li>
        <li>Their personal contribution balance</li>
      </ul>

      <p>Using the information you provide, we will calculate:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Total invoice amount for each child</li>
        <li>Amount to be transferred into each child's account</li>
      </ul>
      <br>
      {{ govukButton({
        text: "Start now",
        href: "/cost-per-child",
        isStartButton: true
      }) }}
    </div>
{% endblock %}